<nav class="uk-navbar-top uk-navbar">
    <div class="uk-navbar-nav">
        <div class="uk-navbar-content"></div>
    </div>
    <div class="uk-navbar-flip">

            <!--<a href="" class="uk-navbar-toggle uk-navbar-toggle-bell-o uk-navbar-badge">
                <div class="uk-badge uk-badge-notification">3</div>
            </a>-->
        <div style="display: inline-flex; position: relative">
            <div data-uk-dropdown="{mode:'click'}">
                <div class="uk-navbar-content uk-navbar-account uk-button">
                    <img class="uk-avatar uk-border-circle"
                         ng-src="{{vm.getAvatarPath()}}"
                         alt="">
                    <span> {{vm.user.firstName}} {{vm.user.lastName}}</span>
                    <i class="uk-icon uk-icon-caret-down"></i>
                </div>
                <div class="uk-dropdown">
                    <ul class="uk-nav uk-nav-dropdown">
                        <li class="uk-dropdown-close"><a href="" ui-sref="profile.modify">{{'PROFILE'|translate}}</a></li>
                        <li class="uk-nav-divider"></li>
                        <li class="uk-dropdown-close"><a href="" ng-click="vm.logout()"><i class="uk-icon uk-icon-sign-out"></i> {{'LOGOUT'|translate}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>