@charset "UTF-8";
/* Sub-object: `uk-navbar-toggle`
 ========================================================================== */
.uk-navbar-toggle-search:after {
  content: ""; }

.uk-navbar-toggle-bell-o:after {
  content: ""; }

.uk-navbar-toggle-arrow-left:after {
  content: ""; }

.uk-navbar-toggle-plus:after {
  content: ""; }

.uk-navbar-toggle-files-o:after {
  content: ""; }

.uk-navbar-toggle-pencil:after {
  content: ""; }

.uk-navbar-toggle-print:after {
  content: ""; }

/* Sub-object: `uk-navbar-avatar`
 ========================================================================== */
.uk-navbar-content img.uk-avatar {
  width: 35px;
  height: 35px; }

/* Sub-object: `uk-navbar-badge`
 ========================================================================== */
.uk-navbar-badge {
  position: relative; }

.uk-navbar-toggle .uk-badge.uk-badge-notification {
  top: 10px;
  position: absolute;
  left: 10px; }
