<div class="uk-sidebar">
    <div class="uk-sidebar-logo">
        <img class="uk-align-center uk-responsive-width" src="images/holonix-logo-nobg.png" alt="">
    </div>
    <ul class="uk-nav uk-nav-side" data-uk-nav="" ng-controller="MenuController">
        <li class="uk-nav-header"> {{'EXAMPLE'|translate}}</li>
        <li ui-sref-active="{'uk-active':'example'}">
            <a ui-sref="example.list"><i class="uk-icon-cogs"></i> {{'EXAMPLE'|translate:"{PLURAL:'true'}"}}</a></li>
        <li class="uk-nav-divider"></li>
    </ul>
</div>