<div class="uk-grid uk-grid-collapse">
    <div class="uk-width-1-1">
        <div class="uk-panel uk-panel-box uk-panel-box-secondary">
            <div class="uk-border-rounded">
                <div class="uk-panel uk-panel-box uk-medium-primary-bg">
                    <h3 class="uk-margin-left uk-contrast"><i class="uk-icon-clone uk-text-secondary"></i>
                        {{'EXAMPLE'|translate:"{TYPE:'new'}"}}
                    </h3>
                </div>

                <nav class="uk-navbar">
                    <a back-button class="uk-navbar-toggle uk-navbar-toggle-arrow-left"></a>
                </nav>
                <div class="uk-panel uk-panel-box">

                    <form name="newExampleForm"
                          class="uk-form uk-form-horizontal uk-margin-left uk-margin-right uk-margin"
                          ng-submit="vm.save(vm.newExample)"
                          novalidate>

                        <div class="uk-grid uk-grid-match" data-uk-grid-margin>

                            <div class="uk-width-1-1">
                                <div class="uk-panel uk-panel-box uk-panel-header">
                                    <h3 class="uk-panel-title">
                                        <i class="uk-icon-info-circle uk-text-secondary"></i> {{'INFO'|translate}}
                                    </h3>
                                    <fieldset>
                                        <div class="uk-form-row">
                                            <label class="uk-form-label" for="exampleCode">{{'CODE'|translate}}</label>
                                            <div class="uk-form-controls">
                                                <input id="exampleCode" type="text" name="exampleCode"
                                                       ng-model="vm.newExample.code"
                                                       class="uk-width-1-1"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <label class="uk-form-label" for="exampleName">{{'NAME'|translate}}</label>
                                            <div class="uk-form-controls">
                                                <input id="exampleName" type="text" name="exampleName"
                                                       ng-model="vm.newExample.name"
                                                       class="uk-width-1-1"
                                                       required>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="uk-width-1-1 uk-text-center">
                                <button class="uk-button uk-width-1-5 uk-button-secondary uk-align-center" type="submit" ng-disabled="newExampleForm.$invalid">
                                    {{'SAVE'|translate}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>