<div class="uk-grid uk-grid-collapse">
    <div class="uk-width-1-1">
        <div class="uk-panel uk-panel-box uk-panel-box-secondary">
            <div class="nrc-shadow uk-border-rounded">
                <div class="uk-panel uk-panel-box uk-medium-primary-bg uk-margin-remove">
                    <h3 class="uk-margin-remove uk-contrast uk-float-left">
                        <i class="uk-icon-file-o uk-text-success"></i> {{'EXAMPLE'|translate}}
                    </h3>
                </div>
                <nav class="uk-navbar">
                    <a href="" ui-sref="example.list" class="uk-navbar-toggle uk-navbar-toggle-arrow-left"></a>
                    <div class="uk-navbar-flip">
                        <a ui-sref="example.modify({exampleId: vm.example.id})"
                           class="uk-navbar-toggle uk-navbar-toggle-pencil" data-uk-tooltip="{pos:'bottom'}"
                           title="{{'MODIFY'|translate}}"></a>
                    </div>
                </nav>
                <div class="uk-panel uk-panel-box">
                    <!-- Example detail -->
                </div>
            </div>
        </div>
    </div>
</div>
