<div class="uk-grid uk-grid-collapse">
    <div class="uk-width-1-1">
        <div class="uk-panel uk-panel-box uk-panel-box-secondary">
            <div class="uk-border-rounded">
                <div class="uk-panel uk-panel-box uk-medium-primary-bg uk-margin-remove">
                    <h3 class="uk-margin-remove uk-contrast uk-float-left">
                        <i class="uk-icon-cogs uk-text-secondary"></i> {{'USER'|translate:"{TYPE:'new'}"}}
                    </h3>
                </div>
                <nav class="uk-navbar">
                    <a back-button class="uk-navbar-toggle uk-navbar-toggle-arrow-left"></a>
                </nav>
                <div class="uk-panel uk-panel-box">
                    <form name="modifyProfileForm" class="uk-form uk-form-horizontal"
                          ng-submit="vm.save(vm.userRegistration)"
                          novalidate>
                        <div class="uk-grid uk-grid-match" data-uk-grid-margin>
                            <div class="uk-width-medium-1-4 uk-width-small-1-1">
                                <div class="uk-panel uk-panel-box uk-panel-header">
                                    <h3 class="uk-panel-title">
                                        <i class="uk-icon-image uk-text-secondary"></i> {{'AVATAR'|translate}}
                                    </h3>

                                    <div class="uk-thumbnail" ng-show="vm.avatarUrl">
                                        <img ng-src="{{vm.avatarUrl}}" alt="">
                                        <div class="uk-thumbnail-caption"><a href="" ng-click="vm.removeAvatar()"
                                                                             class="uk-icon-hover uk-icon-trash"></a>
                                        </div>
                                    </div>

                                    <div data-ngf-drop="vm.uploadAvatar($files)" ngf-select="vm.uploadAvatar($files)"
                                         data-ngf-drag-over-class="'uk-dragover'" data-ngf-multiple="false"
                                         data-ngf-pattern="'image/*'"
                                         ng-hide="vm.avatarUrl">
                                        <div id="upload-drop" class="uk-placeholder">
                                            <i class="uk-icon-cloud-upload uk-icon-medium uk-text-muted uk-margin-small-right"></i>
                                            {{'IMAGE_DROP_BOX'|translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-2-4">

                                <div class="uk-panel uk-panel-box uk-panel-header">
                                    <h3 class="uk-panel-title">
                                        <i class="uk-icon-info-circle uk-text-secondary"></i> {{'INFORMATION'|
                                        translate:"{TYPE: 'general'}"}}
                                    </h3>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-1-1">
                                            <div class="uk-form-row">
                                                <label class="uk-form-label">{{'USERNAME'|translate}}</label>
                                                <div class="uk-form-controls">
                                                    <input type="text" ng-model="vm.userRegistration.name"
                                                           placeholder="">
                                                </div>
                                            </div>
                                            <div class="uk-form-row">
                                                <label class="uk-form-label">{{'FIRST_NAME'|translate}}</label>
                                                <div class="uk-form-controls">
                                                    <input type="text" ng-model="vm.userRegistration.firstName"
                                                           placeholder="">
                                                </div>
                                            </div>
                                            <div class="uk-form-row">
                                                <label class="uk-form-label">{{'LAST_NAME'|translate}}</label>
                                                <div class="uk-form-controls">
                                                    <input type="text" ng-model="vm.userRegistration.lastName"
                                                           placeholder="">
                                                </div>
                                            </div>
                                            <div class="uk-form-row">
                                                <label class="uk-form-label">{{'EMAIL'|translate}}</label>
                                                <div class="uk-form-controls">
                                                    <input type="email" ng-model="vm.userRegistration.email"
                                                           placeholder="">
                                                </div>
                                            </div>
                                            <div class="uk-form-row">
                                                <label class="uk-form-label">{{'PASSWORD'|translate:"{TYPE:'new'}"}}</label>
                                                <div class="uk-form-controls">
                                                    <input type="password" ng-model="vm.userRegistration.password"
                                                           placeholder="" required>
                                                </div>
                                            </div>
                                            <div class="uk-form-row">
                                                <label class="uk-form-label">{{'PASSWORD'|translate:"{TYPE:'repeat'}"}}</label>
                                                <div class="uk-form-controls">
                                                    <input type="password" ng-model="vm.changePassword.checkPassword"
                                                           placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="uk-width-medium-1-4 uk-width-small-1-1">
                                <div class="uk-panel uk-panel-box uk-panel-header">
                                    <h3 class="uk-panel-title">
                                        <i class="uk-icon-cog uk-text-secondary"></i> {{'ROLE'|translate:"{PLURAL:'true'}"}}
                                    </h3>

                                        <fieldset>
                                            <div class="uk-form-row">
                                                <input class="uk-width-4-5" type="text"
                                                       placeholder="{{'ADD_NEW_ROLE' | translate}}"
                                                       ng-model="vm.newRole"
                                                       data-on-enter="vm.addNewRole(vm.newRole)">
                                                <button class="uk-button uk-width-1-5 uk-float-right uk-padding-remove uk-button-secondary"
                                                        ng-click="vm.addNewRole(vm.newRole)"
                                                        ng-disabled="!vm.newRole"
                                                        type="button"><i class="uk-icon-plus"></i>
                                                </button>
                                            </div>
                                            <div class="uk-form-row" ng-repeat="role in vm.roles">
                                                <label><input type="checkbox"
                                                              ng-init="hasRole = vm.userRegistration.roles.indexOf(role)>-1"
                                                              ng-model="hasRole" ng-change="vm.toggleRole(role)">
                                                    {{role}}
                                                </label>
                                            </div>
                                        </fieldset>
                                </div>
                            </div>
                            <div class="uk-width-1-1 uk-text-center">
                                <button class="uk-button uk-width-1-5 uk-button-secondary uk-align-center" type="submit"
                                        ng-disabled="!modifyProfileForm.$valid || vm.userRegistration.password!=vm.changePassword.checkPassword">
                                    {{'SAVE'|translate}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>